.post-create .list_item label.normal_label {
	float: left;
	text-align: right;
	font-weight: normal;
	font-size: 17px;
	display: block;
	padding: 0 20px 0 0;
	width: 150px;
	line-height: 22px;
}

.post-create ul li.list_item input.inp_text {
	width: 290px;
	min-width: 290px;
	padding: 6px;
	margin-bottom: 10px;
	display: block;
}

.post-create ul li.list_item select.inp_text {
	width: 305px;
	padding: 6px;
	display: block;
}

.post-create ul li.list_item textarea.inp_text {
	resize: none;
	width: 290px;
	height: 200px;
	padding: 6px;
	margin-bottom: 10px;
	display: block;
}

.post-create h2 {
	padding: 0;
	font-size: 26px;
	font-weight: bold;
	color: #000;
	text-align: center;
}

.post-create .thumbnail-preview {
	width: 120px;
	height: 120px;
}

.post-create .thumbnail-prev-block {
	width: 120px;
	height: 120px;
}

.left_options {
	float: right;
	width: 530px;
	display: block;
	padding-top: 5px
}

.post-create ul li .left_options input {
	min-width: 0;
	margin: 2px 8px 0 0;
}

#comu_image_repeat {
	width: auto;
	min-width: 0;
	display: inline-block;
}